{% block web_file_label %}
    <label for="{{ form.vars.id }}" {% with { attr: label_attr } only %}{{ block('attributes') }}{% endwith %}>
        {%- if label is defined -%}
            {{- translation_domain is same as(false) ? label : label|trans({}, translation_domain) -}}
        {%- endif -%}
    </label>
    {% if url is not empty and basename is not empty %}
        <br />
        {% if image %}
            <img src="{{ url }}" alt="{{ basename }}" width="200" />
        {% else %}
            <a href="{{ url }}" target="_blank">{{ basename }}</a>
        {% endif %}
    {% endif %}
{% endblock %}
